@import "/css/partials/homepage.css";
@import "/css/partials/nav.css";
@import "/css/style.css";
@import "/css/partials/404.css";
@import "/css/partials/signup.css";
@import "/css/partials/seller.css";
@import "/css/partials/addProduct.css";
@import "/css/partials/product.css";
@import "/css/partials/cart.css";
@import "/css/partials/checkout.css";
@import "/css/partials/search.css";
@import "/css/partials/footer.css";
@import "/css/partials/mobile.css";
@import "/css/partials/tablet.css";
@import "/css/partials/productList.css";
@import "/css/partials/featuredProduct.css";
@import "/css/partials/swiper.css";
