:root {
  --mainColor: #19204e;
  --secondColor: #fcb300;
  --greyColor: #d6d6d6;
  --redColor: #df1b3f;
  --mainFont: "roboto", sans-serif;
  --desktopH1: 50px;
  --fontBold: 700;
  --fontMed: 500;
  --fontReg: 400;
  --fontlight: 200;
  --desktopH2: 37px;
  --desktoph3: 28px;
  --desktop-p: 16px;
}

@media (min-width: 35em) and (max-width: 55em) {
  :root {
    --mobileH1: 40px;
    --mobileH2: 30px;
    --mobileH3: 22px;
    --mobile-p: 16px;
  }
}

@media (max-width: 35rem) {
  :root {
    --mobileH1: 32px;
    --mobileH2: 26px;
    --mobileH3: 20px;
    --mobile-p: 16px;
  }
}

html {
  max-width: 1800px !important;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: thistle;
  height: auto;
  width: 100%;
}

/* @supports (backdrop-filer:blur(1rem)) {
    .primary-navigation{
        background: hsl(0 0% 100 / 0.1);
        backdrop-filter: blur(1rem);
    }
} */

span {
  font-size: var(--desktop-p);
}

p {
  font-size: var(--desktop-p);
}
h1 {
  font-size: var(--desktopH1);
}

h2 {
  font-size: var(--desktopH2);
  font-weight: var(--fontMed);
}

h3 {
  font-size: var(--desktoph3);
  font-weight: var(--fontReg);
}
