.four-0-four-image {
  display: block;
  margin: 9rem auto 4rem auto;
}

.error__404--msg {
  text-align: center;
  text-transform: capitalize;
  color: black;
}

.error__404--msg a {
  color: var(--mainColor);
  font-size: var(--desktop-p);
}
