.product__body {
  background: var(--greyColor);
  max-width: 1800px;
}

.product__logo--container {
  margin: 3rem auto 0 auto;
  text-align: center;
}

.product__form {
  width: 75%;
  margin: auto;
}

.product__form > .product__info--container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.product__info--container > #product__name,
.product__info--container > #short__des {
  width: 50%;
}
.product__info--container > #product__description {
  flex: 100%;
  height: 10rem;
}

.seller__product--info {
  width: 100%;
  /* height: 50rem !important; */
  display: grid !important;
  /* grid-template-columns: 0.75fr 1.25fr;
  grid-template-rows: repeat(2, 1fr); */
  grid-template-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three";
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.seller__product--info > .product__image {
  grid-area: two;
}
.seller__product--info > .upload__image--sec {
  grid-area: one;
  display: flex;
  flex-wrap: wrap;
}

.upload__image--sec > .text {
  width: 100%;
  text-align: center;
}

.upload__image--sec > .upload__catalouge {
  flex: 1;
}

.seller__product--info > .select__sizes {
  grid-area: three;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.select__sizes > .text {
  width: 100%;
}

.select__sizes > .sizes {
  flex: 1;
  text-align: center;
}

@media (min-width: 40rem) {
  .seller__product--info {
    grid-template-areas:
      "one one"
      "two two"
      "three three";
  }
}

@media (min-width: 50rem) {
  .seller__product--info {
    grid-template-areas:
      "two two one "
      "two two three ";
  }
}

.product__image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  background-size: cover;
  border-radius: 1rem;
  grid-row: span 2;
  text-shadow: 0 0 10px #fff;
  width: 30rem;
  z-index: -2;
  box-shadow: 0 0 0.5rem rgba(85, 85, 85, 0.2);
}

.text {
  text-transform: capitalize;
  color: var(--mainColor);
  font-size: 2rem;
  font-weight: 500;
}

.upload__image--sec,
.select__sizes {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
}

.text img {
  height: 2rem;
  margin-right: 1rem;
}

.upload__catalouge {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.upload__image {
  width: 10rem;
  height: 10rem;
  background: var(--secondColor);
  cursor: pointer;
  background-size: cover;
}

.upload__image:hover {
  background: rgba(0, 0, 0, 0.2);
  background-size: cover;
}

.upload__img--p {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--desktop-p);
  text-transform: capitalize;
  color: #fff;
}

.sizes {
  margin-top: 3rem;
}

.size__checkbox {
  -webkit-appearance: none;
  width: 10rem;
  height: 4rem;
  border-radius: 5px;
  border: 1px solid var(--secondColor);
  cursor: pointer;
  margin-bottom: 1rem;
  margin-right: 1rem;
  position: relative;
  color: var(--secondColor);
}

.size__checkbox::after {
  content: attr(value);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--desktop-p);
  text-transform: uppercase;
}

.size__checkbox:checked {
  background: var(--secondColor);
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product__price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.product__price input {
  margin: 0;
}

.product__features,
.product__stock {
  width: 30%;
  min-width: 25rem;
  height: 3rem;
  font-size: var(--desktop-p);
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 2rem;
}

.product__stock {
  margin: 1rem 0;
}

.buttons {
  margin: 2rem 0 5rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.btn {
  padding: 1rem 3rem;
  text-transform: capitalize;
  color: #fff;
  background: var(--mainColor);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  margin-right: 1rem;
  cursor: pointer;
  font-size: var(--desktop-p);
}

#save-btn {
  background: var(--secondColor);
}
