.product__body {
  background: url(/img/white-blank-concrete-wall-with-wooden-floor.jpg);
  height: auto;
  max-width: 1800px;
}

.product__logo--container {
  margin: 3rem auto 0 auto;
  text-align: center;
}

.product__form {
  width: 75%;
  margin: auto;
}

.seller__product--info {
  width: 100%;
  height: 50rem !important;
  display: grid !important;
  grid-template-columns: 0.75fr 1.25fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.product__image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  background-size: cover;
  border-radius: 10px;
  grid-row: span 2;
  text-shadow: 0 0 10px #fff;
  width: 30rem;
  z-index: -2;
}

.text {
  text-transform: capitalize;
  color: #383838;
  font-size: 20px;
  font-weight: 500;
}

.upload__image--sec,
.select__sizes {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}

.text img {
  height: 20px;
  margin-right: 10px;
}

.upload__catalouge {
  width: 100%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
}

.upload__image {
  width: 100%;
  height: 100px;
  background: var(--secondColor);
  cursor: pointer;
  background-size: cover;
}

.upload__image:hover {
  background: rgba(0, 0, 0, 0.2);
  background-size: cover;
}

.upload__img--p {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--desktop-p);
  text-transform: capitalize;
  color: #fff;
}

.sizes {
  margin-top: 30px;
}

.size__checkbox {
  -webkit-appearance: none;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #383838;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  color: #383838;
}

.size__checkbox::after {
  content: attr(value);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  text-transform: uppercase;
}

.size__checkbox:checked {
  background: #383838;
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product__price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.product__price input {
  margin: 0;
}

.product__features,
.product__stock {
  width: 30%;
  min-width: 25rem;
  height: 3rem;
  font-size: var(--desktop-p);
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 2rem;
}

.product__stock {
  margin: 1rem 0;
}

.buttons {
  margin: 20px 0 50px;
}

.btn {
  padding: 10px 30px;
  text-transform: capitalize;
  color: #fff;
  background: var(--mainColor);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
  font-size: var(--desktop-p);
}

#save-btn {
  background: var(--secondColor);
}
