.cart__section {
  width: 80%;
  margin: 15rem auto 5rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__list {
  width: 70%;
  min-width: 60rem;
}

.checkout__section {
  width: 28%;
  min-width: 20rem;
}

.section__heading {
  font-size: 3rem;
  font-weight: 500;
  margin: 2rem 0;
  text-transform: capitalize;
}

.cart,
.wishlist {
  width: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #d8d8d8;
  margin-bottom: 60px;
}

.sm__product {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
}

.cart .sm__product:last-child,
.wishlist .sm__product:last-child {
  margin-bottom: 0;
}

.sm__product--img {
  height: 12rem;
  width: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.sm__text {
  width: 50%;
  margin-left: 1rem;
}

.sm__product--name {
  text-transform: capitalize;
}

.sm__des {
  font-size: 1.8rem;
  opacity: 0.5;
  line-height: 2.5rem;
  text-transform: capitalize;
  margin-top: 1rem;
}

.item__counter {
  width: 9rem;
  height: 3rem;
  display: flex;
  margin-right: 2rem;
}

.counter__btn,
.item-count {
  width: 3rem;
  height: 3rem;
}

.counter__btn {
  background: #f3f3f3;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 1px;
  cursor: pointer;
}

.item__count {
  text-align: center;
  line-height: 3rem;
  background: #f5f5f5;
  width: 3rem;
}

.sm__price {
  font-size: 5rem;
  font-weight: 500;
  color: #383838;
}

.sm__delete--btn {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--greyColor);
  border: 1px solid rgb(216, 216, 216);
  z-index: 2;
  cursor: pointer;
}

.sm__delete--btn img {
  height: 1.5rem;
  color: white;
}

.empty__img {
  width: 50%;
  display: block;
  margin: auto;
}

.checkout__box {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  padding: 2rem;
  background: white;
  box-shadow: 0 0 0.5rem rgb(0, 0, 0, 0.3);
}

.text {
  text-transform: capitalize;
  font-size: var(--desktop-p);
}

.checkout__btn,
.place__order--btn {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  height: 4rem;
  border-radius: 0.5rem;
  background: var(--mainColor);
  color: #fff;
  text-align: center;
  line-height: 4rem;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 2rem;
}

.bill {
  font-size: 6rem;
  font-weight: 500;
  margin: 1rem 0;
}
