.checkout__form--section {
  width: 80%;
  margin: 15rem auto 5rem auto;
}

.heading {
  text-transform: capitalize;
  font-size: 500;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.checkout__form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.checkout__form :is(#address, #street, #landmark) {
  width: 30rem;
}

.three__input--container {
  display: flex;
  justify-content: space-between;
}

.three__input--container input {
  margin: 0 !important;
}
