.form {
  width: 100%;
  padding: 20px 10vw;
}

.heading {
  text-transform: capitalize;
  font-size: 500;
  font-size: 30px;
  margin-bottom: 20px;
}

.form input {
  background: #f5f5f5 !important;
  width: 100% !important;
}

.three__input--container {
  display: flex;
  justify-content: space-between;
}

.three__input--container input {
  margin: 0 !important;
}

#state {
  margin: 0 20px !important;
}
