.slider-container {
  width: 100%;
  height: 60rem;
  padding: 2vw 0vw;
  position: relative;
}

.slider-title {
  text-transform: capitalize;
  font-size: var(--desktoph3);
  margin: 3rem 10vw;
}

.pre-loop-btn,
.nxt-loop-btn,
.swiper-button-nxt,
.swiper-button-pre {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10vw;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 11 !important;
}

.pre-loop-btn {
  left: 0;
  transform: rotate(180deg);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 1) 56%,
    rgba(216, 191, 216, 0) 100%
  );
}

.nxt-loop-btn {
  right: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 1) 56%,
    rgba(255, 255, 255, 0) 100%
  );
}

.featured-product-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
}

.featured-product-container .product__card {
  width: 30rem;
  height: 100%;
  transition-property: transform;
  margin: auto;
  display: block;
}

.swiper-slide {
  max-width: 100vw !important;
}

@media (min-width: 64rem) {
  .featured-product-container {
    padding: 0 8vw;
  }
}
