.header__section {
  position: relative;
  width: 100%;
  height: 60rem;
}

.header__banner--img {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.image__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.header__info--container {
  position: absolute;
  right: 8rem;
  top: 10rem;
  height: 40rem;
  width: clamp(30rem, 60%, 60rem);
  background: rgb(255, 255, 255, 0.8);
  z-index: 3;
  border-radius: 1rem;
}

.header__text--subtitle {
  font-weight: 400;
}

.header__text--description {
  font-weight: 200;
}

.header__text--container {
  margin: 2rem;
}

.header__text__button--container {
  display: flex;
  gap: 1rem;
  margin: 5rem 2rem 2rem 2rem;
}

.header__btn {
  padding: 1rem;
  font-size: var(--desktop-p);
  outline: none;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.header__text__product--btn {
  background: var(--mainColor);
  color: white;
}

.header__text__discount--btn {
  background: var(--secondColor);
  color: white;
}

.header__video > .slider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__video > .slider .slider__1,
.header__video > .slider .slider__2 {
  position: static;
  display: block;
  width: 46%;
  height: 70%;
  padding: 0 1em;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 0.75em;
  background-color: rgba(255, 255, 255, 1);
  overflow: auto;
}
.header__video > .slider .slider__1 {
  opacity: 1;
  animation: fade1 28s infinite;
}
.header__video > .slider .slider2 {
  opacity: 0;
  animation: fade2 28s infinite;
}
@keyframes fade1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* --------- */

.hero__section {
  width: 100%;
  height: calc(100vh - 12rem);
  background-image: url("../img/header.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__section .logo {
  height: 15rem;
  display: block;
  margin: auto;
}

.hero__section .sub-heading {
  margin-top: 1rem;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 3.5rem;
  font-weight: 300;
}

/* product */

.product {
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
}

.product__category {
  padding: 0 10vw;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 4rem;
  text-transform: capitalize;
}

/* .product__container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
} */

.product__container::-webkit-scrollbar {
  display: none;
}

.product__card {
  flex: 0 0 auto;
  width: 25rem;
  height: 450rem;
  margin-right: 4rem;
}

.product__image {
  position: relative;
  width: 100%;
  height: 35rem;
  overflow: hidden;
}

.product__thumb {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.discount__tag {
  position: absolute;
  background: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--redColor);
  right: 1rem;
  top: 1rem;
  text-transform: capitalize;
}

.card__btn {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 0.5rem;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product__card:hover .card__btn {
  opacity: 1;
}

.card__btn:hover {
  background: #efefef;
}

.product__info {
  width: 100%;
  height: 10rem;
  padding-top: 1rem;
}

.product__brand {
  text-transform: uppercase;
}

.product__short--des {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 0.5rem 0;
}

.price {
  font-weight: 900;
  font-size: 2rem;
}

.actual__price {
  margin-left: 2rem;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre__btn,
.nxt__btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre__btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt__btn {
  right: 0;
}

.pre__btn img,
.nxt__btn img {
  opacity: 0.2;
}

.pre__btn:hover img,
.nxt__btn:hover img {
  opacity: 1;
}

/* collections */

.collection__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 5rem;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 1rem;
}
