@media (max-width: 40rem) {
  .primary-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    gap: 3em;
    z-index: 1000;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile__nav--toggle {
    display: block;
    position: fixed;
    z-index: 9999;
    background-color: transparent;
    background: url("/img/hamburger-toggle.svg");
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 3rem;
    right: 3rem;
  }

  .mobile__nav--toggle[aria-expanded="true"] {
    background-image: url("/img/times-solid.svg");
  }

  .login__icon,
  .cart__icon {
    width: 3rem;
    height: 3rem;
  }

  .product__form {
    width: 85%;
  }
  .product__info--container > #product__name,
  .product__info--container > #short__des {
    width: 100%;
  }

  /* BODY HEADER */
  .header__section {
    margin-bottom: 14rem;
  }

  /* PRODUCT PAGE */

  .image__slider {
    width: 80% !important;
    min-width: 30rem;
    height: 40rem !important;
    background-size: contain !important;
    background-repeat: no-repeat;
  }

  .product__details {
    justify-content: center !important;
    width: 90%;
  }

  .details {
    width: 90% !important;
  }

  .header__info--container {
    right: 50%;
    transform: translateX(50%);
    margin: auto;
    top: 25rem;
    display: block;
    width: clamp(35rem, 70%, 80rem);
  }

  .image__overlay {
    height: 35rem;
  }

  .header__section > img {
    height: 35rem;
  }

  .header__text--title {
    font-size: var(--mobileH1);
  }

  .header__text--subtitle {
    font-size: var(--mobileH2);
    margin: 2rem auto;
  }

  .header__text--description {
    font-size: var(--mobileH3);
  }

  .header__text__button--container {
    justify-content: center;
  }

  /* SLIDER FRONT PAGE */

  .slider-title {
    font-size: var(--mobileH3);
  }
}

@media (min-width: 40em) {
  .primary-navigation {
    gap: 3rem;
    padding-block: 2rem;
    padding-inline: clamp(3rem, 5vw, 3rem);
  }
}
