.go__back {
  width: 80%;
  display: flex;
  position: relative;
  margin: 15rem auto 0 auto;
}

.go__back > a {
  font-size: var(--desktop-p);
  text-decoration: none;
  color: var(--mainColor);
  font-weight: 500;
  text-transform: lowercase;
}

.product__details {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin: auto;
}

.image__slider {
  width: 50rem;
  height: 50rem;
  position: relative;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgb(158, 158, 158, 0.7);
}

.image__slider > .product__images {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100px;
  grid-gap: 10px;
  padding: 10px;
}

.product__images img {
  width: 80%;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}

.product__images img.active {
  opacity: 0.5;
  background: white;
}

.details {
  width: 50%;
}

.details .product__brand {
  text-transform: capitalize;
  font-size: 30px;
}

.details .product__short--des {
  font-size: 25px;
  line-height: 30px;
  height: auto;
  margin: 15px 0 30px;
}

.product__price--conatiner {
  display: flex;
  gap: 1rem;
}

.product__price {
  font-weight: 700;
  font-size: 30px;
}

.product__actual--price {
  font-size: 30px;
  opacity: 0.5;
  text-decoration: line-through;
  font-weight: 300;
}

.product__discount {
  color: var(--redColor);
}

.product__sub--heading {
  font-size: 30px;
  margin: 4rem 0 1rem;
  font-weight: 300;
}

.details > input {
  width: 6rem !important;
  display: none !important;
}

.size__radio--btn {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  text-align: center;
  font-size: 2rem;
  border: 1px solid var(--secondColor);
  border-radius: 50%;
  margin: 10px;
  margin-left: 0;
  line-height: 7rem;
  text-transform: uppercase;
  color: var(--mainColor);
  cursor: pointer;
  background: var(--greyColor);
}

.size__radio--btn.check {
  background: var(--secondColor);
  color: #fff;
}

.btn__group {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.cart__btn {
  margin-right: 2%;
  background: var(--secondColor);
  color: #fff;
}

.detail__des {
  width: 75%;
  margin: auto;
}

.detail__des > .heading {
  padding: 0;
}

.heading {
  font-size: 30px;
  margin-bottom: 30px;
}

.des {
  color: var(--mainColor);
  line-height: 25px;
  white-space: pre-wrap;
  margin-bottom: 50px;
}

.container__for__card--slider {
  height: auto;
}

.product {
  padding: 0 10vw;
  overflow: visible;
  height: auto;
}

/* .product__container {
  position: relative;
  overflow-x: visible;
} */

.product__card {
  height: auto;
  cursor: pointer;
}

.product__info {
  height: auto;
  display: block;
}
