.productlist__category {
  position: fixed;
  height: 15rem;
  width: 100%;
  background: #fff;
  z-index: 100;
}

.productlist__category--container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 3rem;
}

.productlist__link {
  list-style: none;
}

.productlist__link > a {
  text-decoration: none;
  font-size: var(--desktop-p);
  color: var(--mainColor);
  font-family: var(--mainFont);
  font-weight: 500;
}

.productlist__link > a:active {
  color: var(--secondColor);
}

.productlist__container {
  width: 100%;
  margin: auto;
  margin-top: 20rem;
}

.productList__title {
  margin: auto;
  text-align: center;
}

.men__product--section,
.women__product--section,
.kids__product--section {
  padding: 5rem 0;
}

.female__product--section {
  margin: 4rem 0;
}

.men__product--cards {
}

.product {
  width: 100%;
  padding: 0;
}

.nxt__btn,
.pre__btn {
  display: none;
}

.product__category {
  width: 80%;
}
