.search__results {
  width: 80%;
  margin: auto;
}

.search__title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 400;
  margin: 15rem auto 3rem auto;
  width: 100%;
}

.heading span {
  font-weight: 700;
}
