.signup__body {
  width: 100%;
  max-height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--greyColor);
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  display: none;
}

.loader__logo {
  height: 8rem;
  display: block;
  margin: 3rem auto;
}

input:not(.search__box, .checkbox, .size__checkbox, input[type="file"]),
textarea {
  display: block;
  width: 30rem;
  height: 4rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  border: none;
  outline: none;
  margin: 1rem 0;
  text-transform: capitalize;
  color: var(--mainColor);
  font-size: 1.6rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.08);
}

::placeholder {
  color: var(--mainColor);
}

.register__btn {
  width: 30rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  background: var(--mainColor);
  color: #fff;
  font-size: 1.6rem;
  border-radius: 0.2rem;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  display: block;
  margin: 3rem 0;
}

.checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.2rem;
  background: #fff;
  border: 0.1rem solid var(--mainColor);
  cursor: pointer;
}

.checkbox:checked {
  background: var(--mainColor);
}

.checkbox::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
  pointer-events: none;
  background-image: url(/img/check-solid-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.checkbox:checked::after {
  display: block;
}

label {
  font-size: 1rem;
  display: inline-block;
}

label a {
  color: var(--mainColor);
}

.link {
  color: var(--mainColor);
  text-align: center;
  display: block;
}

.alert__box {
  width: 30rem;
  min-height: 15rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0.5 10rem rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
  z-index: 5;
}

.show {
  opacity: 1;
  pointer-events: all;
  top: 50%;
}

.alert__img {
  display: block;
  margin: 1rem auto 2rem;
  height: 6rem;
}

.alert__msg {
  color: red;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  line-height: 3rem;
  font-weight: 500;
}
