@media (min-width: 40rem) and (max-width: 70rem) {
  .primary-navigation a > span[area-hidden] {
    display: none;
  }

  /* ------------ FRONT PAGE ------------*/
  .header__section {
    margin-bottom: 40rem;
  }

  .header__info--container {
    right: 50%;
    transform: translateX(50%);
    margin: auto;
    top: 40rem;
    display: block;
    width: clamp(35rem, 70%, 80rem);
  }

  .header__text--title {
    font-size: var(--mobileH1);
  }

  .header__text--subtitle {
    font-size: var(--mobileH2);
    margin: 2rem auto;
  }

  .header__text--description {
    font-size: var(--mobileH3);
  }

  .header__text__button--container {
    justify-content: center;
  }

  /* CHECKOUT */

  .product__list {
    width: 90%;
    margin: auto;
  }
  .sm__product {
    flex-wrap: wrap;
    height: 30rem;
    justify-content: center;
  }

  .sm__product--img {
    text-align: center;
  }

  .sm__text {
    width: 100%;
    text-align: center;
  }

  .item__counter {
    text-align: center;
  }

  .sm__price {
    font-size: 3rem;
    text-align: center;
  }
}

@media (max-width: 110rem) {
  .details {
    width: 100%;
  }
}
